.sbar{
    position: relative;
    width: 500px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
}
#sbox{
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 88%;
    color: black;
}
#sbox2{
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 88%;
    color: black;
}
.slabel{
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    transform: translate(10px, 10px);
    transform-origin: left;
    color: black;
    transition: transform 200ms;
}
#sbox:focus + .slabel,#sbox:valid +.slabel {
    transform: translate(0, -20px) scale(0.8);
}
#sbox2:focus + .slabel,#sbox2:valid +.slabel {
    transform: translate(0, -20px) scale(0.8);
}
.searchbutton{
    border-radius: 8px;
    width: 12%;
    height: inherit;
    padding: 0;
    background-color: #ffffff;
}
.searchbar{
    border-radius:inherit;
    width: 25px;
    height: 25px;
}

@media only screen and (max-width:1060px){
    .sbar{
        width: 90%;
    }
}